* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(egypt.jpg);
    background-repeat: repeat-y;
    
}


.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.tex {
    /*z-index: 999;*/
    position: absolute;
    top: 30%;
    left: 25%;
    right: 50%;
    translate: (-50%,-50%);
    width: 260px; 
    height: 150px; 
    color:whitesmoke;
    padding: 20px;
    text-align: center;
    border-radius: 0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    animation: float 1.5s infinite alternate;
}


@keyframes float{
    0%{
        top:30%;

    }
    100%{
        top:34%;
    }
}

.text h2 {
    color: whitesmoke; /* Black color for h2 */
    font-size: 20px; /* Size 35px */
    background: none; /* No background for h2 */
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 15px;

}


.vid {
    z-index: 999;
    transform: (-50%,-50%);
    position: absolute;
    top: 70%;
    left: 60%;
    animation: float3 1.5s infinite alternate;
}

.txt {
    /*z-index: 999;*/
    position: absolute;
    top: 20%;
    left: 15%;
    /*transform: (-50%,-50%);*/
    width: 1000px; 
    height: 20px; 
    color: white; 
    padding: 20px;
    text-align: center;
    border-radius: 0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    animation: flt 1.5s infinite alternate;
}

@keyframes flt {
    0% {
        top: 20%;
    }
    100% {
        top: 24%;
    }


}


@keyframes float3 {

    0%{
        top:70%;
    }
    100% {
        top:74%;
    }
    
}


.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999; /* To keep it on top of other content */
    background-color: #3f3f4e;
}

.navbar-container {
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f4e; /* Nice shade of gray */
}

.logo {
    padding-left: 20px;
    height:40px;
    width: 40px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white; 
    text-transform: uppercase;
    background-color: inherit;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #CCAA14; 
}


@media (max-width: 768px) {
    .navbar-container {
        width: 90%;
    }

    .logo {
        font-size: 24px;
    }

    .navbar ul li {
        margin: 0 10px;
    }
    .tex {
        z-index: 999;
        position: absolute;
        top: 35%;
        left: 10%;
        /*transform: (-50%,-50%);*/
        width: 260px; 
        height: 150px; 
        color: white; 
        padding: 20px;
        text-align: center;
        border-radius: 0; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
        animation: float 1.5s infinite alternate;
    }
    .txt {
        z-index: 999;
        position: absolute;
        top: 17%;
        left: 10%;
        /*transform: (-50%,-50%);*/
        width: 260px; 
        height: 30px; 
        color: white; 
        padding: 20px;
        text-align: center;
        border-radius: 0; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
        animation: floating 1.5s infinite alternate;
    }

    @keyframes floating {
        0% {
            top: 17%;
        }
        100% {
            top: 20%;
        }
    }


    .vid {
        z-index: 999;
        transform: (-50%,-50%);
        position: absolute;
        top: 70%;
        left: 15%;
       animation: float3 1.5s infinite alternate;
    }
}